img {
  max-inline-size: 100%;
  block-size: auto;
}

#root {
  display: grid;
  place-items: center;
}

h1,
p {
  font-family: Lato;
}

.form {
  inline-size: 80%;
  block-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid gray;
}

.form .input {
  padding: 4px;
  border: none;
  outline: none;
}

.input:focus {
  border-bottom: 1px solid black;
}

.form .add-btn {
  border: 1px solid transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
}

.card-container {
  inline-size: 320px;
  block-size: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-block-end: 1rem;
}

.img-container {
  inline-size: 75px;
}

.img-container img {
  border-radius: 5px;
}

.name,
.company {
  margin: 0;
  text-align: left;
}
